# PostgreSQL Configuration
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce123
POSTGRES_DB=ecommerce_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_CLICKS=user_clicks
KAFKA_TOPIC_CART=cart_events
KAFKA_TOPIC_PURCHASES=purchases

# Spark Configuration (futuro)
SPARK_MASTER=local[*]
